/* Reset default margin and padding for body */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling if needed */
  }
  
  /* Layout container */
  .main-content {
    display: flex;
    padding: 0;
    margin: 0;
  
  }
  
  /* Sidebar */
  .sidebar {
    padding: 0;  /* Remove padding inside the sidebar */
    margin: 0;   /* Remove margin around the sidebar */
    width: 150px;
    height: 100vh; /* Full viewport height */
    box-sizing: border-box;
    position: fixed; /* Fixes the sidebar to the left edge */
    left: 0px; /* Align to the very left of the viewport */
    top: 135px;
  }
  
  /* Adjust the main contnt area to account for the fixed sidebar */
  .content-section {
    flex: 1;
    margin-left: 300px; /* Offset for sidebar width */
    padding: 20px;
    position: fixed;
    flex-direction: row;
  }
  
  .welcome-message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    flex-direction: row;
  }
  
  /* Cards */
  .card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    margin: 15px;
  }
  
  .card img {
    width: 50px;
    height: 50px;
  }
  
  .card-title {
    font-size: 16px;
    color: #333;
  }
  
  .card-count {
    font-size: 24px;
    color: #e74c3c;
    font-weight: bold;
  }